@model MetricViewModel

<div class="card text-center h-100">
    <div class="card-body d-flex flex-column justify-content-center">
        <h6 class="card-title text-muted">@Model.Title</h6>
        <h4 class="fw-bold">@Model.Value</h4>
    </div>
</div>
