@inject IStringLocalizer<SharedResource> SharedLocalizer
@model MarketHistoryViewModel

@{
    var currentTicker = Context.Request.Query["ticker"].ToString();

    var filtersViewModel = new MarketHistoryFiltersContentViewModel
    {
        SharedLocalizer = SharedLocalizer,
        Tickers = Model.Tickers,
        CurrentTicker = currentTicker,
        SystemUrlMarketHistory = SharedLocalizer["SystemUrl_MarketHistory"]
    };

    var mobileFabViewModel = new MobileFilterFabDropdownViewModel
    {
        ButtonId = "marketHistoryFiltersFab",
        AriaLabel = SharedLocalizer["Filters"],
        ContentPartial = "_MarketHistoryFiltersContent",
        ContentModel = filtersViewModel
    };
}

@await Html.PartialAsync("Components/_MobileFilterFabDropdown", mobileFabViewModel)

<div class="d-flex flex-column">

    <div class="row h-80vh order-1 order-md-2">
        <div class="col-12 mb-3">
            <partial name="Components/_LineChart" model="Model.LineChart" />
        </div>
    </div>

    <div class="row h-15vh order-2 order-md-1">

        <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-4 mb-3 d-none d-md-block">
            <div class="card">
                <div class="card-body d-flex align-items-center">
                    <div class="flex-grow-1">
                        @await Html.PartialAsync("_MarketHistoryFiltersContent", filtersViewModel)
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-8 mb-3 d-flex">
            <div class="row flex-fill">
                <div class="col-4">
                    <partial name="Components/_Metric"
                             model='new MetricViewModel { Title = SharedLocalizer["CurrentPrice"], Value = Model.CurrentPriceString }' />
                </div>
                <div class="col-4">
                    <partial name="Components/_Metric"
                             model='new MetricViewModel { Title = SharedLocalizer["InterestEur"], Value = Model.InterestString }' />
                </div>
                <div class="col-4">
                    <partial name="Components/_Metric"
                             model='new MetricViewModel { Title = SharedLocalizer["InterestPct"], Value = Model.InterestPercentageString }' />
                </div>
            </div>
        </div>

    </div>

</div>
