@model List<Dashboard.Domain.Models.Transaction>
@{
    ViewData["Title"] = "Transactions";
}

<section id="skeleton-section">
    <div class="row mb-3" style="height: 95vh;">
        <div class="col-md-12">
            <partial name="Components/_LineChartSkeleton" />
        </div>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const sectionUrl = `/transactions/section`;
            loadSkeletonSection(sectionUrl);
        });
    </script>
}
