@using System.Text.Json
@model BarChartViewModel
@{
    var chartId = (string?)ViewData["ChartId"] ?? "chart_" + Guid.NewGuid().ToString("N");
}

<div class="card">
    <div class="card-header">Monthly Investment</div>
    <div class="card-body">
        <canvas id="@chartId" class="chart-canvas"></canvas>
    </div>
</div>

<script>
    function init() {
        var element = document.getElementById('@chartId');
        if (!element) return;
    
        // Chart data serializeren
        const chartData = @Html.Raw(JsonSerializer.Serialize(new {
            labels   = Model.DataPoints.Select(dp => dp.Label),
            datasets = new[] {
                new { 
                    label = Model.Title,
                    data = Model.DataPoints.Select(dp => dp.Value),
                }
            }
        })); 

        // Css variables ophalen
        chartData.datasets[0].backgroundColor = accentColors[0];

        // Chart initialiseren
        new Chart(element, {
            type: 'bar',
            data: chartData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: { legend: { display: false } },
                scales: {
                    x: { grid: { display: false } },
                    y: { grid: { display: false } }
                }
            }
        });
    }

    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', init);
    } else {
        init();
    }

</script>