@model MetricViewModel

<div class="card text-center">
    <div class="card-body">
        <h6 class="card-title text-muted">@Model.Title</h6>
        <h4 class="fw-bold">@Model.Value</h4>
    </div>
</div>