@model PieChartViewModel
@{
    var chartId = (string?)ViewData["ChartId"] ?? "chart_" + Guid.NewGuid().ToString("N");
}

<div class="card">
    <div class="card-header">Investment Split</div>
    <div class="card-body">
        <canvas id="@chartId" class="chart-canvas"></canvas>
    </div>
</div>

<script>
    function init() {
        var element = document.getElementById('@chartId');
        if (!element) return;

        // Chart data serializeren
        const chartData = @Html.Raw(JsonSerializer.Serialize(new {
            labels = Model.Data.Select(dp => dp.Label),
            datasets = new[] {
                new {
                    data = Model.Data.Select(dp => dp.Value),
                    borderWidth = 3
                }
            }
        }));

        // Css variables ophalen
        chartData.datasets[0].backgroundColor = accentColors;

        // Chart initialiseren
        new Chart(element, {
            type: 'pie',
            data: chartData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: { legend: { position: 'bottom' } }
            }
        });
    }

    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', init);
    } else {
        init();
    }

</script>