@model InvestmentViewModel
@{
    ViewData["Title"] = "Investment";
}

<section id="skeleton-section">
    <div class="row mb-3" style="height: 47vh;">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <partial name="Components/_LineChartSkeleton" />
        </div>
    </div>

    <div class="row mb-3" style="height: 48vh;">
        <div class="col-md-6">
            <partial name="Components/_LineChartSkeleton" />
        </div>
        <div class="col-md-6">
            <partial name="Components/_LineChartSkeleton" />
        </div>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const sectionUrl = `/investment/section`;
            loadSkeletonSection(sectionUrl);
        });
    </script>
}
