@inject IStringLocalizer<SharedResource> SharedLocalizer
@model List<Dashboard.Application.Dtos.TransactionDto>
@{
    ViewData["Title"] = SharedLocalizer["Transactions"];
}

<section id="skeleton-section">
    <div class="row mb-3 h-95vh">
        <div class="col-md-12">
            <partial name="Components/_LineChartSkeleton" />
        </div>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const sectionUrl = `/transactions/content`;
            loadSkeletonSection(sectionUrl);
        });
    </script>
}
