@{
    ViewData["Title"] = "Dashboard";

    var lineChartViewModel = new LineChartViewModel
    {
        Title = "Portfoliowaarde",
        DataPoints =
        [
            new LineChartDataPoint { Label = "Jan", Value = 100 },
            new LineChartDataPoint { Label = "Feb", Value = 200 },
            new LineChartDataPoint { Label = "Mar", Value = 400 },
            new LineChartDataPoint { Label = "Apr", Value = 300 },
            new LineChartDataPoint { Label = "May", Value = 600 },
        ]
    };

    var tableViewModel = new TableViewModel
    {
        Columns =
        [
            new TableColumn { Header = "Ticker", Key = "Ticker" },
            new TableColumn { Header = "Portfoliogedeelte", Key = "PortfolioPercentage" },
            new TableColumn { Header = "Aantal", Key = "Amount" },
            new TableColumn { Header = "Totale investering", Key = "TotalInvestment" },
            new TableColumn { Header = "Waarde", Key = "Worth" },
            new TableColumn { Header = "Winst €", Key = "ProfitAmount" },
            new TableColumn { Header = "Winst %", Key = "ProfitPercentage" }
        ],
        Rows =
        [
            new Dictionary<string, object>
            {
                { "Ticker", "SXRV.DE" },
                { "PortfolioPercentage", "72,81%" },
                { "Amount", "7,81206400" },
                { "TotalInvestment", "€ 8.055,07" },
                { "Worth", "€ 9.005,75" },
                { "ProfitAmount", "€ 950,68" },
                { "ProfitPercentage", "11,80%" },
            }!,
            new Dictionary<string, object>
            {
                { "Ticker", "SXRV.DE" },
                { "PortfolioPercentage", "72,81%" },
                { "Amount", "7,81206400" },
                { "TotalInvestment", "€ 8.055,07" },
                { "Worth", "€ 9.005,75" },
                { "ProfitAmount", "€ 950,68" },
                { "ProfitPercentage", "11,80%" },
            }!,
            new Dictionary<string, object>
            {
                { "Ticker", "SXRV.DE" },
                { "PortfolioPercentage", "72,81%" },
                { "Amount", "7,81206400" },
                { "TotalInvestment", "€ 8.055,07" },
                { "Worth", "€ 9.005,75" },
                { "ProfitAmount", "€ 950,68" },
                { "ProfitPercentage", "11,80%" },
            }!,
        ]
    };
}

<div class="row mb-3">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <partial name="Components/_Table" model="@tableViewModel" />
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <partial name="Components/_LineChart" model="@lineChartViewModel" />
    </div>
</div>
