@{
    ViewData["Title"] = "Dashboard";
}

<div class="row mb-3">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <partial name="Components/_Table" />
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <partial name="Components/_LineChart"/>
    </div>
</div>
