@{
    ViewData["Title"] = "Investment";
}

<div class="dashboard-grid">
    <div>
    </div>
    <div>
        <partial name="Components/_PieChart"/>
    </div>
    <div>
        <partial name="Components/_LineChart"/>
    </div>
    <div>
        <partial name="Components/_BarChart"/>
    </div>
</div>