@{
    ViewData["Title"] = "Investment";

    var lineChartViewModel = new LineChartViewModel
    {
        Title = "Investment (cumulative) per month",
        DataPoints =
        [
            new LineChartDataPoint { Label = "Jan", Value = 100 },
            new LineChartDataPoint { Label = "Feb", Value = 200 },
            new LineChartDataPoint { Label = "Mar", Value = 400 },
            new LineChartDataPoint { Label = "Apr", Value = 300 },
            new LineChartDataPoint { Label = "May", Value = 600 },
        ]
    };

    var pieChartViewModel = new PieChartViewModel
    {
        Title = "Investment per ticker",
        Data =
        [
            new PieChartDataPoint { Label = "Stocks", Value = 50 },
            new PieChartDataPoint { Label = "Bonds", Value = 30 },
            new PieChartDataPoint { Label = "Real Estate", Value = 20 },
        ]
    };

    var barChartViewModel = new BarChartViewModel
    {
        Title = "Investment per month",
        DataPoints =
        [
            new BarChartDataPoint { Label = "Stocks", Value = 50 },
            new BarChartDataPoint { Label = "Bonds", Value = 30 },
            new BarChartDataPoint { Label = "Real Estate", Value = 20 },
        ]
    };
}

<div class="row mb-3" style="height: 47vh;">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <partial name="Components/_PieChart" model="pieChartViewModel" />
    </div>
</div>

<div class="row mb-3" style="height: 48vh;">
    <div class="col-md-6">
        <partial name="Components/_LineChart" model="lineChartViewModel" />
    </div>
    <div class="col-md-6">
        <partial name="Components/_BarChart" model="barChartViewModel" />
    </div>
</div>
