@{
    ViewData["Title"] = "Market history";

    var lineChartViewModel = new LineChartViewModel
    {
        Title = "Portfolio Growth",
        DataPoints =
        [
            new LineChartDataPoint { Label = "Jan", Value = 100 },
            new LineChartDataPoint { Label = "Feb", Value = 200 },
            new LineChartDataPoint { Label = "Mar", Value = 400 },
            new LineChartDataPoint { Label = "Apr", Value = 300 },
            new LineChartDataPoint { Label = "May", Value = 600 },
        ]
    };
}

<div class="row mb-3">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <partial name="Components/_Metric" model='new MetricViewModel { Title = "Metric", Value = "€ 100.000,00" }' />
            </div>
            <div class="col-md-4">
                <partial name="Components/_Metric" model='new MetricViewModel { Title = "Metric", Value = "€ 100.000,00" }' />
            </div>
            <div class="col-md-4">
                <partial name="Components/_Metric" model='new MetricViewModel { Title = "Metric", Value = "€ 100.000,00" }' />
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <partial name="Components/_LineChart" model="lineChartViewModel" />
    </div>
</div>
