// Filter section styling

.btn-filter-toggle {
    border-radius: var(--border-radius);
    border: 2px solid var(--accent-1);
    background: var(--card-color);
    color: var(--accent-1);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;

    &:hover {
        background: var(--accent-1-light);
        box-shadow: var(--shadow-hover);
        color: var(--accent-1);
        border-color: var(--accent-1);
    }

    &:focus,
    &:active,
    &[aria-expanded="true"] {
        background: var(--accent-1);
        color: #fff;
        box-shadow: var(--shadow-hover);
        border-color: var(--accent-1);
    }

    .filter-toggle-text {
        font-size: 1rem;
    }

    i {
        font-size: 1rem;
    }
}
