@inject IStringLocalizer<SharedResource> SharedLocalizer
@model Dashboard.Web.ViewModels.MarketHistoryViewModel
@{
    var currentTicker = Context.Request.Query["ticker"].ToString();
}

<div class="row" style="height: 15vh;">
    <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-4 mb-3">
        <div class="card">
            <div class="card-body d-flex align-items-center">
                <div class="btn-group w-100" role="group">
                    @foreach (var t in Model.Tickers)
                    {
                        <a asp-controller="MarketHistory" asp-action="Index" asp-route-ticker="@t"
                           class="btn btn-ticker px-2 py-2 @(t == currentTicker ? "active" : "")">
                            @t
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-8 mb-3 d-flex">
        <div class="row flex-fill">
            <div class="col-4">
                <partial name="Components/_Metric" model='new MetricViewModel { Title = SharedLocalizer["CurrentPrice"], Value = Model.CurrentPriceString }' />
            </div>
            <div class="col-4">
                <partial name="Components/_Metric" model='new MetricViewModel { Title = SharedLocalizer["InterestEur"], Value = Model.InterestString }' />
            </div>
            <div class="col-4">
                <partial name="Components/_Metric" model='new MetricViewModel { Title = SharedLocalizer["InterestPct"], Value = Model.InterestPercentageString }' />
            </div>
        </div>
    </div>

</div>

<div class="row market-history-chart-row" style="height: 80vh;">
    <div class="col-12 mb-3">
        <partial name="Components/_LineChart" model="Model.LineChart" />
    </div>
</div>