@model Dashboard.Web.ViewModels.MarketHistoryViewModel
@{
    ViewData["Title"] = "Market history";
}

<section id="skeleton-section">
    <div class="row" style="height: 15vh;">
        <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-4 mb-3">
            <partial name="Components/_LineChartSkeleton" />
        </div>
        <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-8 mb-3 d-flex">
            <div class="row flex-fill">
                @for (int i = 0; i < 3; i++)
                {
                    <div class="col-4">
                        <partial name="Components/_MetricSkeleton" />
                    </div>
                }
            </div>
        </div>

    </div>

    <div class="row" style="height: 80vh;">
        <div class="col-12 mb-3">
            <partial name="Components/_LineChartSkeleton" />
        </div>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const currentUrl = new URL(window.location.href);
            const ticker = currentUrl.searchParams.get('ticker') || 'SXRV.DE';
            const sectionUrl = `/market-history/content?ticker=${encodeURIComponent(ticker)}`;

            loadSkeletonSection(sectionUrl);
        });
    </script>
}
