:root {
    --accent-1: #473BF0;
    --accent-2: #6665DD;
    --accent-3: #9B9ECE;
    --accent-4: #ACADBC;

    --accent-1-light: #d5d1fa;
    --accent-2-light: #c7c6f0;
    --accent-3-light: #dcddea;
    --accent-4-light: #ececf3;

    --card-color: #ffffff;
    --card-radius: 16px;
    --shadow-default: 0 4px 12px rgba(0, 0, 0, 0.06);
    --shadow-hover: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* Verzorgt de font en dat de pagina niet scrollable is */
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow: hidden;
}

/* Verzorgt de background gradient */
body {
    background: linear-gradient(135deg, var(--accent-4-light), var(--accent-1-light));
    background-blend-mode: lighten;
}

/* Zorgt dat alle 'hr's' in de kleur van accent-1 en meer dikgedrukt zijn. */
hr {
    border: none;
    border-top: 3px solid var(--accent-1);
    margin: 1rem 0;
}

/* Default styling voor cards */
.card {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    border: none;
    box-shadow: var(--shadow-default);
    height: 100%;
}

.card-header {
    background-color: var(--card-color);
    border: none;
    border-top-left-radius: var(--card-radius) !important;
    border-top-right-radius: var(--card-radius) !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    font-weight: bold;
}

/* Button styling */
.btn-ticker {
    border-radius: var(--card-radius);
    border: none;
    background: var(--card-color);
    color: var(--accent-1);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

    .btn-ticker:hover {
        background: var(--accent-1-light);
        box-shadow: var(--shadow-hover);
        color: var(--accent-1);
    }

    .btn-ticker.active,
    .btn-ticker:focus,
    .btn-ticker:active {
        background: var(--accent-1);
        color: #fff;
        box-shadow: var(--shadow-hover);
    }

.placeholder {
    border-radius: var(--card-radius) !important;
}