@model Dashboard.Web.ViewModels.InvestmentViewModel

<div class="row" style="height: 47vh;">
    <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-6 mb-3">
    </div>
    <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-6 mb-3">
        <partial name="Components/_PieChart" model="Model.PieChart"/>
    </div>
</div>

<div class="row" style="height: 48vh;">
    <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-6 mb-3">
        <partial name="Components/_LineChart" model="Model.LineChart" />
    </div>
    <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-6 mb-3">
        <partial name="Components/_BarChart" model="Model.BarChart" />
    </div>
</div>
