@model Dashboard.Web.ViewModels.InvestmentViewModel
@{
    ViewData["Title"] = "Investment";
}

<section id="skeleton-section">
    <div class="row" style="height: 47vh;">
        <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-6 mb-3">
        </div>
        <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-6 mb-3">
            <partial name="Components/_LineChartSkeleton" />
        </div>
    </div>

    <div class="row" style="height: 48vh;">
        <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-6 mb-3">
            <partial name="Components/_LineChartSkeleton" />
        </div>
        <div class="col-12 col-xs-12 col-md-12 col-lg-6 col-xl-6 mb-3">
            <partial name="Components/_LineChartSkeleton" />
        </div>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const sectionUrl = `/investment/section`;
            loadSkeletonSection(sectionUrl);
        });
    </script>
}
